<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
</head>
<body>
	
	<form action="add" method="post">
	
		<table border="1">
			<tr>
				<td>Student First Name : </td>
				<td> <input type="text" name=firstName> </td>
			</tr>
			<tr>
				<td>Student Last Name : </td>
				<td> <input type="text" name=lastName> </td>
			</tr>
			<tr>
				<td>Student Email : </td>
				<td> <input type="email" name=email> </td>
			</tr>
			<tr>
				<td colspan="2"> <input type="submit" value="Add"> </td>
			</tr>
		</table>
	
	</form>
	
</body>
</html>